<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register | Giftly</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="auth-container">
        <div class="auth-box">

            <h2>Register</h2>

            <form method="POST" action="/register">
                <input type="text" name="display_name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Register</button>
            </form>

            <p>
                Already have an account?
                <a href="/login">Login here</a>
            </p>
        </div>
    </div>

</body>

</html>